/* * {
	box-sizing: border-box;
} */
app-form-control {
    display: block;
    width: 100%;
}

.form-control__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-self: flex-start;
	grid-column: span 12;
}

.form-controls__container .form-control__field {
	width: 100%;
}

.form-controls__container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: span 12;
	grid-gap: 2rem;
}

.col-md-12 {
	grid-column: span 12;
}

.col-md-11 {
	grid-column: span 11;
}

.col-md-10 {
	grid-column: span 10;
}

.col-md-9 {
	grid-column: span 9;
}

.col-md-8 {
	grid-column: span 8;
}

.col-md-7 {
	grid-column: span 7;
}

.col-md-6 {
	grid-column: span 6;
}

.col-md-5 {
	grid-column: span 5;
}

.col-md-4 {
	grid-column: span 4;
}

.col-md-3 {
	grid-column: span 3;
}

.col-md-2 {
	grid-column: span 2;
}

.col-md-1 {
	grid-column: span 1;
}
